## OVERVIEW OF DATASET
### 📊 Nigerian Financial Transactions and Fraud Detection Dataset

This synthetic dataset simulates **5 million Nigerian financial transactions** over a 12-month period, tailored for fraud detection and behavioral analysis. It includes **45 features** spanning transaction details, user behavior, device/IP intelligence, temporal patterns, and risk scores.

---

### 🔍 Key Characteristics

- **Fraud Rate**: ~15% (realistic for emerging markets)  
- **Unique Sender Accounts**: ~500,000  
- **Geographic Coverage**: 20 major cities across 6 Nigerian regions  
- **Payment Channels**: USSD, Mobile App, Card, Bank Transfer  
- **User Personas**: Salary Earner, Student, Trader  
- **Fraud Types**:
  - Account Takeover  
  - Identity Fraud  
  - SIM Swap  
  - Money Laundering  
  - Deposit Fraud  
  - Card-Not-Present  
  - Impossible Travel Fraud  

---

### ⚙️ Feature Engineering

- **No Data Leakage**: Expanding windows with `.shift(1)` logic  
- **Rolling Statistics**: Merchant fraud rate, user behavior metrics  
- **Temporal Consistency**: Chronologically computed features  
- **Realistic Patterns**: Based on Nigerian fintech behaviors  

---

### 🎯 Use Cases

- Supervised fraud detection model training  
- Real-time risk scoring system development  
- Behavioral analytics and segmentation  
- Unsupervised anomaly detection  
- Nigerian fintech research and benchmarking  

---

### ✅ Data Quality

- No missing values in critical fields  
- Logical consistency across features  
- Realistic transaction amounts and timing  
- Balanced fraud-to-legitimate ratio  

---

### ⚠️ Limitations

- Synthetic data — not based on real transactions  
- Limited to a 12-month simulation  
- May not capture evolving fraud patterns  
- Region-specific — tailored to Nigerian context  

---

### 💡 Recommended Usage

- Use as a training supplement, not a replacement for real data  
- Validate models on actual Nigerian transaction data  
- Retrain models regularly to adapt to evolving fraud tactics  
- Combine with external sources for production-grade systems

### Summary: Downloading the Nigerian Financial Transactions and Fraud Detection Dataset Locally

#### Steps Taken

1. **Installed Git LFS**
   ```powershell
   git lfs install
2. **generate a huggingface token(give read access)**   
3. **huggingface-cli login**   
4. **git clone https://huggingface.co/datasets/electricsheepafrica/  Nigerian-Financial-Transactions-and-Fraud-Detection-Dataset**
5. **cd Nigerian-Financial-Transactions-and-Fraud-Detection-Dataset**
6. **git lfs pull**

In [1]:
%pip install datasets psycopg2-binary sqlalchemy hf_xet

Requirement already satisfied: datasets in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (4.0.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: psycopg2-binary in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (2.9.10)
Requirement already satisfied: sqlalchemy in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (2.0.31)
Requirement already satisfied: hf_xet in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (1.1.7)
Requirement already satisfied: filelock in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (3.13.1)
Requirement already satisfied: numpy>=1.17 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (1.26.2)
Requirement already satisfied: pyarrow>=15.0.0 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (15.0.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (2.1.4)
Requirement already satisfied: requests>=2.32.2 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (2.32.4)
Requirement already satisfied: tqdm>=4.66.3 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (4.67.1)
Requirement already satisfied: xxhash in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2025.3.0,>=2023.1.0 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2024.2.0)
Requirement already satisfied: huggingface-hub>=0.24.0 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (0.34.4)
Requirement already satisfied: packaging in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (23.2)
Requirement already satisfied: pyyaml>=5.1 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from datasets) (6.0.1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.12.15)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.7.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (6.6.3)
Requirement already satisfied: propcache>=0.2.0 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (0.3.2)
Requirement already satisfied: yarl<2.0,>=1.17.0 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.20.1)
Requirement already satisfied: idna>=2.0 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from yarl<2.0,>=1.17.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.6)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.32.2->datasets) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.32.2->datasets) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.32.2->datasets) (2024.8.30)
Requirement already satisfied: colorama in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from tqdm>=4.66.3->datasets) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from pandas->datasets) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from pandas->datasets) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pamela\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:


df1 = pd.read_csv(r"C:\Users\PAMELA\Desktop\altschool-hackathon\Nigerian-Financial-Transactions-and-Fraud-Detection-Dataset\V1-nigerian-financial-transactions-and-fraud-detection-dataset.csv")
#df2 = pd.read_csv("C:/Users/PAMELA/Desktop/altschool-hackathon/Nigerian-Financial-Transactions-and-Fraud-Detection-Dataset/V2-nigerian-financial-transactions-and-fraud-detection-dataset-for-model-training.csv")

print(df1.head())

  transaction_id                   timestamp  sender_account  \
0        T100000  2023-08-27 09:03:17.516168      9899691027
1        T100001  2023-08-25 14:11:12.606711      2194178774
2        T100002  2023-05-19 09:30:37.742963      4193666484
3        T100003  2023-10-28 07:26:44.195112      9174692071
4        T100004  2023-09-16 17:58:14.700162      8722569311

   receiver_account transaction_type           merchant_category location  \
0        5792850510       withdrawal  Data Subscription (Airtel)    Lagos
1        7275770518       withdrawal            Paystack Payment      Aba
2        7538320427          deposit              ATM Withdrawal   Ibadan
3        9091723192          deposit                 Konga Order   Ibadan
4        5128595934         transfer        Airtime Top-up (MTN)   Ibadan

  device_used  is_fraud fraud_type  ...  spending_deviation_score  \
0      mobile     False        NaN  ...                     -0.21
1         atm     False        NaN  ...                     -0.14
2         pos     False        NaN  ...                     -1.78
3         pos     False        NaN  ...                     -0.60
4      mobile     False        NaN  ...                      0.79

   velocity_score  geo_anomaly_score  payment_channel     ip_address  \
0               3               0.22    Bank Transfer   41.58.183.79
1               7               0.96    Bank Transfer  102.89.45.175
2              20               0.89    Bank Transfer   41.58.151.43
3               6               0.37             USSD   197.210.7.43
4              13               0.27             USSD  102.89.36.146

  device_hash   amount_ngn  bvn_linked  new_device_transaction  sender_persona
0    D8536477   1889724.49        True                   False          Trader
1    D2622631    833885.14        True                   False          Trader
2    D4823498  13860533.88        True                   False          Trader
3    D9961380   2262024.07        True                   False   Salary Earner
4    D7637601     33718.63        True                   False   Salary Earner

[5 rows x 21 columns]

In [4]:
df1.isnull()

,transaction_id,timestamp,sender_account,receiver_account,transaction_type,merchant_category,location,device_used,is_fraud,fraud_type,...,spending_deviation_score,velocity_score,geo_anomaly_score,payment_channel,ip_address,device_hash,amount_ngn,bvn_linked,new_device_transaction,sender_persona
0,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4999996,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4999997,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4999998,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4999999,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [5]:
df1.isnull().value_counts()

transaction_id  timestamp  sender_account  receiver_account  transaction_type  merchant_category  location  device_used  is_fraud  fraud_type  time_since_last_transaction  spending_deviation_score  velocity_score  geo_anomaly_score  payment_channel  ip_address  device_hash  amount_ngn  bvn_linked  new_device_transaction  sender_persona
False           False      False           False             False             False              False     False        False     True        False                        False                     False           False              False            False       False        False       False       False                   False             3923934
                                                                                                                                               True                         False                     False           False              False            False       False        False       False       False                   False              896513
                                                                                                                                   False       False                        False                     False           False              False            False       False        False       False       False                   False              179553
Name: count, dtype: int64

In [6]:
df1.isnull().sum()

transaction_id                       0
timestamp                            0
sender_account                       0
receiver_account                     0
transaction_type                     0
merchant_category                    0
location                             0
device_used                          0
is_fraud                             0
fraud_type                     4820447
time_since_last_transaction     896513
spending_deviation_score             0
velocity_score                       0
geo_anomaly_score                    0
payment_channel                      0
ip_address                           0
device_hash                          0
amount_ngn                           0
bvn_linked                           0
new_device_transaction               0
sender_persona                       0
dtype: int64

In [10]:
df1.columns

Index(['transaction_id', 'timestamp', 'sender_account', 'receiver_account',
       'transaction_type', 'merchant_category', 'location', 'device_used',
       'is_fraud', 'fraud_type', 'time_since_last_transaction',
       'spending_deviation_score', 'velocity_score', 'geo_anomaly_score',
       'payment_channel', 'ip_address', 'device_hash', 'amount_ngn',
       'bvn_linked', 'new_device_transaction', 'sender_persona'],
      dtype='object')

In [13]:
df1.sample(10)

,transaction_id,timestamp,sender_account,receiver_account,transaction_type,merchant_category,location,device_used,is_fraud,fraud_type,...,spending_deviation_score,velocity_score,geo_anomaly_score,payment_channel,ip_address,device_hash,amount_ngn,bvn_linked,new_device_transaction,sender_persona
2959801,T3059801,2023-03-25 18:58:30.886696,8766496791,4739102957,transfer,Jumia Purchase,Lagos,mobile,False,NaN,...,-0.74,19,0.02,USSD,102.89.37.137,D1852403,37322.16,True,True,Salary Earner
208061,T308061,2023-09-18 01:56:47.177576,7438598957,4454111348,withdrawal,Bolt Ride,Kano,web,False,NaN,...,1.36,17,0.97,Card,105.113.110.216,D7110979,2429858.63,True,False,Trader
3347500,T3447500,2023-07-26 13:46:59.364248,1906271286,2031702380,withdrawal,Airtime Top-up (MTN),Lagos,mobile,False,NaN,...,0.26,12,0.69,Mobile App,41.58.235.57,D1507151,548938.08,True,True,Salary Earner
28507,T128507,2023-03-06 06:10:26.704781,2773648643,2515953714,deposit,Ikeja Electric Bill,Onitsha,pos,False,NaN,...,-1.26,19,0.24,Bank Transfer,197.210.25.197,D7031748,1188872.85,True,False,Salary Earner
3392635,T3492635,2023-02-13 10:20:14.987032,1169258684,6021089401,deposit,Filmhouse Cinemas Ticket,Abuja,mobile,True,Account Takeover,...,0.99,16,0.33,Bank Transfer,197.210.109.255,D1144421,733175.73,True,True,Student
586105,T686105,2023-07-10 07:30:29.261109,8241002954,6904842381,payment,SPAR Purchase,Port Harcourt,web,True,Account Takeover,...,0.55,18,0.16,Card,197.210.99.221,D3865912,34058.09,True,True,Salary Earner
4388469,T4488469,2023-11-17 15:34:23.519677,3409274688,8968114944,withdrawal,Church Offering,Ibadan,mobile,False,NaN,...,0.67,20,0.29,Mobile App,41.58.213.75,D9188706,439508.23,True,True,Salary Earner
2930589,T3030589,2023-05-24 11:31:08.685386,5079121320,3472634069,withdrawal,Airtime Top-up (MTN),Aba,web,False,NaN,...,1.71,2,0.23,Bank Transfer,105.112.158.198,D1233168,1362369.95,True,True,Trader
878945,T978945,2023-11-03 14:25:33.550839,4126288859,6361428441,payment,SPAR Purchase,Ibadan,pos,False,NaN,...,0.18,5,0.69,Mobile App,105.113.235.57,D6479100,59648.53,True,True,Student
3771098,T3871098,2023-05-02 13:51:51.294976,3587048643,7859554477,payment,Konga Order,Aba,pos,False,NaN,...,0.33,4,0.04,Bank Transfer,105.112.9.196,D2816892,39857.96,False,True,Student